body{
  background-color:#f2f7ff;
}
.app-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #fff;
    height: 100vh;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
  }
  .pro-sidebar {
    background-color: #fff !important;
    color: blacka !important;
  }
  
  .pro-menu-item {
    color: black !important;
  }
  
  .pro-menu-item a {
    color: black  !important;
    text-decoration: none;
  }
  .pro-sidebar > .pro-sidebar-inner{
    background-color: #fff !important;
  }
  .pro-menu-item .pro-icon-wrapper{
    background-color: white !important;
  }
    